---
interface langs {
  edges: {
    node: {
      name: string
    }
  }[]
}

interface repoDetails {
	id: string,
  name: string,
	description: string,
  forkCount: number,
  stargazerCount: number,
  url: string,
  languages: langs,
}

export interface Props {
	repo: repoDetails
}

const { repo } = Astro.props;
---

<div class="wrapper">
	<div class="title">{repo.name}</div>
	<div class="desc">{repo.description}</div>
	<div class="footer">
		<span class="starts">{repo.stargazerCount}</span>
		<span class="fork">{repo.forkCount}</span>
		<span class="lang">{repo.languages.edges[0].node.name}</span>
	</div>
</div>

<style>
	.wrapper {
		padding: 1.5rem;
		background-color: #212121;
		border-radius: 0.3rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.title {
		font-size: 1.5rem;
		text-transform: capitalize;
		color: #4d9355;
	}
	.desc {
		font-size: 1rem;
	}
	.footer {
		display: flex;
		gap: 0.5rem;
	}
</style>
